footer
    .cabecera.bck-gris
        .container
            .row
                .col-md-4.border-right.col-xs-12.pdt-15
                    .cont-footer
                        a.page-scroll(href='#page-top') 
                            img(src="assets/image/logo-grupo-la-republica.png", alt="")
                        h5 Grupo La República Digital
                        p Jr. Camaná 320 Ceercado de Lima <br> Teléfono:711-6000 <br> (Central Telefónica)
                        small Todos los derechos reservados - 2015
                .col-md-8
                    .row
                        .col-md-3.col-sm-3.pdl-30.col-xs-6.pdt-15
                            +foolink('e-footer','#','Roger Federer')
                            +foolink('e-footer','#','SBS')
                            +foolink('e-footer','#','Scarlett Johansson')
                            +foolink('e-footer','#','Scotiabank')
                            +foolink('e-footer','#','Selena Gómez')
                            +foolink('e-footer','#','Spiderman')
                            +foolink('e-footer','#','Sporting Cristal')
                            +foolink('e-footer','#','Sunat')
                            +foolink('e-footer','#','Telefónica del Perú')
                            +foolink('e-footer','#','The Walking Dead')
                            +foolink('e-footer','#','Twitter')
                            +foolink('e-footer','#','Universidad Cesar Vallejo')
                            +foolink('e-footer','#','Universidad San Martín')
                            +foolink('e-footer','#','Universitario de Deportes')
                            +foolink('e-footer','#','Xbox')
                            +foolink('e-footer','#','Youtube')
                            +foolink('e-footer','#','Bayern Múnich')
                            +foolink('e-footer','#','Bayern Múnich')
                            +foolink('e-footer','#','BBVA')
                            +foolink('e-footer','#','Xbox')
                            +foolink('e-footer','#','BCP')
                            
                        .col-md-3.col-sm-3.pdl-30.col-xs-6.pdt-15
                            +foolink('e-footer','#','Al fondo hay sitio')
                            +foolink('e-footer','#','Alejandro Toledo')
                            +foolink('e-footer','#','Alianza Lima')
                            +foolink('e-footer','#','Alianza Lima')
                            +foolink('e-footer','#','Banco de la Nación')
                            +foolink('e-footer','#','Barack Obama')
                            +foolink('e-footer','#','Universidad Cesar')
                            +foolink('e-footer','#','Vallejo')
                            +foolink('e-footer','#','Universidad San Martín')
                            +foolink('e-footer','#','Barcelona')
                            +foolink('e-footer','#','Bayern Múnich')
                            +foolink('e-footer','#','Bayern Múnich')
                            +foolink('e-footer','#','BBVA')
                            +foolink('e-footer','#','Xbox')
                            +foolink('e-footer','#','BCP')
                            +foolink('e-footer','#','Batman')
                            +foolink('e-footer','#','Bayern Múnich')
                            +foolink('e-footer','#','Bayern Múnich')
                            +foolink('e-footer','#','BBVA')
                            +foolink('e-footer','#','Xbox')
                            +foolink('e-footer','#','BCP')
                        .col-md-3.col-sm-3.pdl-30.col-xs-6.pdt-15
                            +foolink('e-footer','#','Roger Federer')
                            +foolink('e-footer','#','SBS')
                            +foolink('e-footer','#','Scarlett Johansson')
                            +foolink('e-footer','#','Scotiabank')
                            +foolink('e-footer','#','Selena Gómez')
                            +foolink('e-footer','#','Spiderman')
                            +foolink('e-footer','#','Sporting Cristal')
                            +foolink('e-footer','#','Sunat')
                            +foolink('e-footer','#','Telefónica del Perú')
                            +foolink('e-footer','#','The Walking Dead')
                            +foolink('e-footer','#','Twitter')
                            +foolink('e-footer','#','Universidad Cesar Vallejo')
                            +foolink('e-footer','#','Universidad San Martín')
                            +foolink('e-footer','#','Universitario de Deportes')
                            +foolink('e-footer','#','Xbox')
                            +foolink('e-footer','#','Youtube')
                            +foolink('e-footer','#','Bayern Múnich')
                            +foolink('e-footer','#','Bayern Múnich')
                            +foolink('e-footer','#','BBVA')
                            +foolink('e-footer','#','Xbox')
                            +foolink('e-footer','#','BCP')
                        .col-md-3.col-sm-3.pdl-30.col-xs-6.pdt-15
                            +foolink('e-footer','#','Al fondo hay sitio')
                            +foolink('e-footer','#','Alejandro Toledo')
                            +foolink('e-footer','#','Alianza Lima')
                            +foolink('e-footer','#','Alianza Lima')
                            +foolink('e-footer','#','Banco de la Nación')
                            +foolink('e-footer','#','Barack Obama')
                            +foolink('e-footer','#','Universidad Cesar')
                            +foolink('e-footer','#','Vallejo')
                            +foolink('e-footer','#','Universidad San Martín')
                            +foolink('e-footer','#','Barcelona')
                            +foolink('e-footer','#','Bayern Múnich')
                            +foolink('e-footer','#','Bayern Múnich')
                            +foolink('e-footer','#','BBVA')
                            +foolink('e-footer','#','Xbox')
                            +foolink('e-footer','#','BCP')
                            +foolink('e-footer','#','Batman')
                            +foolink('e-footer','#','Bayern Múnich')
                            +foolink('e-footer','#','Bayern Múnich')
                            +foolink('e-footer','#','BBVA')
                            +foolink('e-footer','#','Xbox')
                            +foolink('e-footer','#','BCP')
    .container.pad2.bck-gris
        .final.mgtb-10
            .col-md-12
                span Diarios del PAL:
                +foolink('f-footer','#', 'Clarin')
                +foolink('f-footer','#', 'La Tercera')
                +foolink('f-footer','#', 'El Universal Colombia')
                +foolink('f-footer','#', 'El Universal Venezuela')
                +foolink('f-footer','#', 'Vanguardia')
                +foolink('f-footer','#', 'La Prensa')
                +foolink('f-footer','#', 'El Salvador')
                +foolink('f-footer','#', 'La Verdad')
                +foolink('f-footer','#', 'Diario Libre')
                +foolink('f-footer','#', 'El diario de hoy')
                +foolink('f-footer','#', 'El Colombiano')