.header1
            .container
                .row
                    a(href="#")
                        img(src="./assets/image/banner_top.jpg")
                    .col-md-7.col-sm-7.col-xs-12.nopadd
                        ul
                            a(href="#")
                                li LIBERO.PE
                            a(href="#")
                                li ELPOPULAR.PE
                            a(href="#")
                                li FUNDACIÓN GUSTAVO MOHME LLONA
                    .col-md-5.col-sm-5.col-xs-12.social.nopadd
                        ul
                            a(href="#")
                                li.btn-boletin SUSCRÍBETE AL BOLETÍN
                            a(href="#")
                                li
                                    i.fa.fa-facebook.azul
                            a(href="#")
                                li
                                    i.fa.fa-twitter.celeste
                            a(href="#")
                                li
                                    i.fa.fa-google-plus.rojo
                            a(href="#")
                                li
                                    i.fa.fa-envelope.amarillo
                            a(href="#")
                                li
                                    i.fa.fa-rss.naranja
                            a.buscar1(href="#")
                                li.buscar BUSCAR
                                    i.fa.fa-search.gris