.navi
            .container
                .row
                    nav.navbar.navbar-default
                            .navbar-header
                                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
                                    span.sr-only Toggle navigation
                                    span.icon-bar
                                    span.icon-bar
                                    span.icon-bar
                            .collapse.navbar-collapse#bs-example-navbar-collapse-1
                                ul.nav.navbar-nav
                                    li
                                        +menu('#', 'POLÍTICA') 
                                    li
                                        +menu('#', 'ECONOMÍA')
                                    li
                                        +menu('#', 'SOCIEDAD')
                                    li
                                        +menu('#', 'ELECC. REGIONALES') 
                                    li
                                        +menu('#', 'DEPORTES') 
                                    li
                                        +menu('#', 'CHAMPIONS L.').
                                    li
                                        +menu('#', 'ESPECTÁCULOS')
                                    li
                                        +menu('#', 'ED. IMPRESA')
                                    li
                                        +menu('#', 'REGIONALES')
                                    li.dropdown
                                        +menu('#', 'MÁS SECCIONES')
            .navi2.hidden-xs.hidden-sm
                .container
                    .row.fondo.nav2
                            .col-md-2.nopadd2
                                .navigator1
                                        h5 TEMAS DEL DÍA
                            .col-md-10.navigator2
                                div(data-slick='{"slidesToShow": 7, "slidesToScroll": 1}')
                                  div
                                    h6 Globos de oro
                                  div
                                    h6 Youtube
                                  div
                                    h6 PNP
                                  div
                                    h6 Charlie Hebdo 
                                  div
                                    h6 FC Barcelona
                                  div
                                    h6 Alianza Lima
                                  div
                                    h6 Balón de Oro
                                  div
                                    h6 Alianza Lima
                                  div
                                    h6 Balón de Oro
