$red:#AA1801;
$redclear: #D2186A;
$guinda: #8C0000;
$gris:#F2F2F2;
$gristxt: #768596;
$black: #000;
$white: #fff;
$purple: #872F85;
$yellow: #FFEA53;
$fuchsia: #D2186A;
$green: #CDF3A6;
$salmon: #F0A3A3;
$salmon: #F0A3A3;
$titulo1: 'PT Sans';
$titulo2: 'Oswald';
$gristitle: #9A9A9A;
$redbutton: #DD4A4A;
$rednav: #BA1414;
$footer: #E3E3E3;
